.bg-highlight{
  background: linear-gradient(110deg, rgb(255, 255, 255, 0.5) 2%, transparent 10%);
  pointer-events: none;
}
.progress-bar{
    background-color: #0E464F;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}
.progress{
    transition: width 0.5s ease-in-out;
    height: 100%;
    background: linear-gradient(90deg, rgb(25, 118, 134),rgb(36, 160, 181)); 
    border-radius: 5px;
}


.scooped-corners {
  position: relative;
  margin: auto;
  max-width: 30em;
  min-height: 10em;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid #24A0B5;

  /* Scooped Corners Mask */
  --mask: radial-gradient(20px at 10px 15px, transparent 99%, #000) 0 0,
          radial-gradient(20px at calc(100% - 10px) 20px, transparent 99%, #000) 100% 0,
          radial-gradient(20px at 15px calc(100% - 20px), transparent 99%, #000) 0 100%,
          radial-gradient(20px at calc(100% - 10px) calc(100% - 20px), transparent 98%, #000) 100% 100%;
  
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}


@media (min-width:480px) and (max-width:639px){
  .navResp{
    width: 400px;
  }
  .navResp ul{
    display: none;
  }
  .bg-resp{
    width: 400px;
  }
  .btnDiv{
    display: block;
    width: 2;
  }
  .btnResp{
    width: 90%;
    margin: 10px;
  }
  .btnResp1{
    width: 100%;
  }
  .btnListResp{
    width: 70%;
  }
  .lineResp{
    width: 100%;
  }
  .ticketListResp{
    width: 98%;
  }
  .ticketResp{
    width: 300px;
  }
  .detsResp{
    width: 200px
  }
  .scooped-corners{
    width: 95%;
    max-width: 20em;
  }
}